name: Build and Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: no-comments-linux_x64
            extension: ""
          - os: windows-latest
            artifact_name: no-comments-win_x64
            extension: ".exe"
          - os: macos-latest
            artifact_name: no-comments-macos-arm64
            extension: ""

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile
        run: |
          gcc -O3 no-comments.c -o ${{ matrix.artifact_name }}${{ matrix.extension }}
          # strip только для Linux
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then strip ${{ matrix.artifact_name }}; fi

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.artifact_name }}${{ matrix.extension }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
